<ul class="dropdown-menu" role="menu" aria-labelledby="<%= uuid %>">
	<% for(var i in items) {%>
		<li role="presentation"><a role="menuitem" tabindex="-1" href='#' id='<%= items[i].uuid %>'><%= items[i].title %></a></li>
	<% } %>
</ul>