<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
	  <span class='glyphicon glyphicon-th-list'></span>
	  </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
		<% for(var i in items) {%>
		<li><a id='<%= items[i].uuid %>'><%= items[i].title %></a></li>
		<% } %>
      </ul>
    </div>
  </div>
</nav>