<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= brand %></a>
    </div>

    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav">
        <li><a data-toggle="modal" href="#dlglogin">SignIn la Diu ... </a></li>
        <li><a data-toggle="modal" href="#dlgcreateacc">Sign up ar Diu ... </a></li>
      </ul>

    </div>
  </div>
</nav>